@model IEnumerable<Sistema_Web_Gestao.Models.Usuario>

@{
    Layout = "_Layout";
}

<h1 class="text-2xl font-bold text-white mb-6">Usuário</h1>

<div class="mb-4">
    <a asp-controller="Usuarios" asp-action="Create" class="inline-block bg-blue-500 text-white font-medium py-2 px-4 rounded hover:bg-blue-600">
        Criar Usuário
    </a>
</div>


<div class="overflow-x-auto shadow-md rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 bg-white">
        <thead class="bg-gray-50">
            <tr>
                <th id="FotoUsuarioHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Foto
                </th>

                <th id="NomeCompletoHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Nome
                </th>
                <th id="DataNascimentoHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Data de Nascimento
                </th>
                <th id="TelefoneFixoHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Telefone
                </th>
                <th id="CelularHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Celular
                </th>
                <th id="EmailHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    E-mail
                </th>            
                <th id="IsGestorHeader" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Gestor?
                </th>
                <th id="ActionsHeader" scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Ações
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            @foreach (var item in Model)
            {
                <tr>
                    <td aria-labelledby="FotoUsuarioHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @if (!string.IsNullOrEmpty(item.FotoUsuario))
                        {
                            <img src="/imagens/@item.FotoUsuario" alt="Foto do usuário" class="w-24 h-auto rounded-full mx-auto" />
                        }
                        else
                        {
                            <img src="/imagens/placeholder.png" alt="Foto não disponível" class="w-24 h-auto rounded-full mx-auto" />
                        }
                    </td>
                    <td aria-labelledby="NomeCompletoHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @Html.DisplayFor(modelItem => item.NomeCompleto)
                    </td>
                    <td aria-labelledby="DataNascimentoHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @item.DataNascimento.ToString("dd/MM/yyyy")
                    </td>
                    <td aria-labelledby="TelefoneFixoHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @Html.DisplayFor(modelItem => item.TelefoneFixo)
                    </td>
                    <td aria-labelledby="CelularHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td aria-labelledby="EmailHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td aria-labelledby="IsGestorHeader" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                        @Html.DisplayFor(modelItem => item.IsGestor)
                    </td>

                    <td aria-labelledby="ActionsHeader" class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <button onclick="handleAction('@item.Id', 'Edit')"
                                class="text-blue-600 hover:text-blue-800">
                            Editar
                        </button>
                        |
                        <button onclick="handleAction('@item.Id', 'Details')"
                                class="text-green-600 hover:text-green-800">
                            Detalhe
                        </button>
                        |
                        <button onclick="handleAction('@item.Id', 'Delete')"
                                class="text-red-600 hover:text-red-800">
                            Deletar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    async function handleAction(itemId, action) {
        if (action === 'Edit') {
            const url = `/Usuarios/${action}?id=${itemId}`;
            window.location.href = url;

            
        } 
        if(action == 'Details'){
            const url = `/Usuarios/${action}?id=${itemId}`;
            window.location.href = url;
        }
        else if (action === 'Delete') {
            const confirmDelete = confirm('Tem certeza de que deseja deletar este item?');
            if (!confirmDelete) return;

            try {
                const url = `Usuarios/${action}?id=${itemId}`;
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const data = await response.json();
                    alert(data.message || 'Item deletado com sucesso.');
                    location.reload();
                } else {
                    alert(`Erro ao excluir o item: ${response.statusText}`);
                }
            } catch (error) {
                console.error('Erro de rede:', error);
                alert('Erro ao tentar excluir o item. Verifique sua conexão.');
            }
        }
    }

</script>